body{
	margin: 0;
}
	header{
		color: black;
	}

	.header-footer{
		
		font-family: 'Orbitron', sans-serif;
		text-align: center;
		background-color: #B3E5FC;
		padding: 10px;
	}
section > div{
	background-color: #03A9F4;
	margin: 30px; 
	padding: 30px;
	border-radius: 25px;
}

header> img{
	border-radius: 50%
}
